<section >
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 p-0">
            <img id="logo" src="../../assets/logo.jpg" alt="">
        </div>

        <div id="nav-content" class="col-lg-10 col-md-9 col-sm-8  p-0">
            
                <div class=" p-0">
                    <h1 id="slogan" class="m-0 text-center"> Next Step of Culture</h1>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light bg-warning">
                <a class="navbar-brand" href="">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link" href="/expo-list">Expo List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Exposant</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Register/Login</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>

    </div>
</section>